*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face{
	font-family: RobotoR;
	src: url(../fonts/Roboto-Regular.ttf);
}

html, body, main {
	height: 100%;
	font-family: RobotoR;
}

.first{
	height: 100%;
	background-image: url(../img/img9.jpeg);
	background-size: cover;
	background-position: center;
}

.first p{
color: white;
}

.tourism{
	width: 100%;
	text-align: center;
	padding-top: 80px;
	font-size: 20px;
}

.text-container{
	width: 40%;
	margin-top: 15%;
	margin-left: 15%;
}

.first-line{
	text-transform: uppercase;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 1px;
	opacity: 0.5;
	line-height: 1;
}

.second-line{
	text-transform: uppercase;
	font-size: 64px;
	line-height: 1;
	font-weight: bold;
	letter-spacing: 5px;
}

.third-line{
	font-size: 20px;
}

.second{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery-container{
	width: 60%;
	max-width: 1000px;
}

.img-container{
	width: 100%;
	display: flex;
	align-items: flex-start;
}

img{
	display: block;
	max-width: 100%;
	height: auto;
}
.img1 {
	width: 55%;
}

.wrapper{
	margin-left: 20px;
}

.img2{
	margin-bottom: 20px;
}

.gallery-text{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.gallery-header{
	font-size: 48px;
	letter-spacing: 2px;
	font-weight: bold;
	line-height: 1;
}
.gallery-p{
	font-size: 18px;

}

.third{
	display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    align-items: center;
    padding: 0 25%;
    background-image: url(../img/img4.jpeg);
    background-position: center;
    background-size: cover;

}
.last-hearder{
	font-size: 20px;
	color: white;
	padding: 10px 20px;
	margin-bottom: 40px;
	border: dashed; white;
}

.last-text{
	color: white;
	font-size: 17px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: Prosto One;
        
}









































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































